.obsidian/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/app.json
.smtcmp_json_db/
.smtcmp_vector_db.tar.gz
.DS_Store
Thumbs.db
.directory

.vscode/
.idea/

.smart-connections/
.pro/copilot-index-*.json
